/* 
========================================

    Techaute Website Styles
    Author: [Your Name]
    Date: [Current Date]
    Description: CSS styles for Techaute, 
    a technology-focused website that 
    aims to provide insights, resources, 
    and reviews on the latest tech trends.

========================================

*/

/* Global Styles */

/* 
.curved-border {
    position: relative;
    height: 30px;
    overflow: hidden;
}

.curved-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #6C8BB9; 
    border-top-left-radius: 100% 50px;
    border-top-right-radius: 100% 50px;
} */









.max-width{
    max-width: 1440px;
}

/* ========== Header ========== */

.desktop-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-container {
  padding: 15px 0;
  background-color: #d9dee5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ========== Nav styling ========== */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--theme-color);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  font-style: normal;
  font-size: 14px !important;
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--theme-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::before {
  transform: translateX(0);
}

.nav-link:not(:hover)::before {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.nav-link:hover::before {
  animation: none;
}



.custom-dropdown .custom-menu {
  display: none; 
  position: absolute;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-radius: 4px;
  min-width: 150px;
  z-index: 1000;
}

.custom-dropdown .custom-menu .dropdown-item {
  padding: 8px 20px;
  color: #333;
  text-decoration: none;
  display: block;
}

.custom-dropdown .custom-menu .dropdown-item:hover {
  background-color: #e9ecef;
  color: #000;
}

.custom-dropdown .dropdown-divider {
  margin: 0.5rem 0;
  border-color: #e9ecef;
}




/* ========== Mobile Header ========== */
.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

/* ========== Logo Styles ========== */
.logo {
  font-size: 24px;
  color: #fff;
}

/* ========== Hamburger Styles ========== */
.hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar-container {
  display: flex;
  flex-direction: column;
  width: 30px;
}

.bar-container :nth-child(1) {
  background: #fff;
  border-radius: 10px;
  height: 4px;
  margin: 4px 0;
  width: 100%;
  transition: all 0.3s ease;
}

.bar-container :nth-child(2) {
  background: #fff;
  border-radius: 10px;
  height: 4px;
  margin: 4px 0;
  width: 60%;
  transition: all 0.3s ease;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .bar-container span:nth-of-type(1) {
  transform: rotate(45deg) translate(8px, 8px);
  width: 120%;
}

input[type="checkbox"]:checked ~ .bar-container span:nth-of-type(2) {
  transform: rotate(-45deg) translate(0px, -0px);
  width: 120%;
}

/* ========== Side Menu Styles ========== */
.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: var(--primary-color);
  transition: left 0.3s ease;
  z-index: 999;
}

.side-menu ul {
  list-style: none;
  padding: 20px 0;
  margin-top: 60px;
}

.side-menu li {
  padding: 15px 20px;
}

.side-menu a {
  color: #fff;
  font-size: 20px !important;
  font-family: 'Poppins';
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* ========== Media Query to hide mobile header and menu on large screens ========== */
@media (min-width: 768px) {
  .mobile-header,
  .side-menu {
      display: none;
  }
}

/* ========== END Header ========== */




/* ========== Footer ========== */
.footer {
  background-image: url('../Assests/Images/Footer-Bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-spaced li {
  margin-bottom: 15px;
}

.list-spaced li:last-child {
  margin-bottom: 0;
}

.spaced-text a {
  margin-right: 30px;
}

.spaced-text a:last-child {
  margin-right: 0;
}

.equal-width .col-2,
.equal-width .col-6 {
  flex: 1;
  max-width: 18%;
  min-width: 18%;
}

.equal-width .row {
  display: flex;
  justify-content: center;
}

/* ========== END Footer ========== */
/* ========== Button component ========== */
.btn-comp {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 46px;
  border-radius: 50px;
  background: linear-gradient(to left, #2667d2, #6a8dc7);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, background 0.5s ease;
}

.btn-comp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 0;
}

.btn-comp:hover::before {
  transform: scaleY(1);
}

.btn-comp:hover {
  color: #fff;
}

.btn-comp .button-content {
  position: relative;
  z-index: 1;
}

.btn-comp:active {
  transform: scale(0.9);
}

/* ========== END Button component ========== */



/* ========== Dividers ========== */

.divider-white{
    height: 4px;
    width: 20px;
    background-color: white;
}

.divider-black{
    height: 4px;
    width: 20px;
    background-color: black
}

.divider-gray{
    background-color: #e4e4e6;
    height: 2px;
}
/* ========== Dividers ========== */




/* ========== Hero Section Start ========== */

.hero-section{
    background-image: url('../Assests/Images/Hero-Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: screen;
}


.hero-section .hero-text{
    max-width: 500px;
}


.star-icon-box{
    display: inline-flex;
    background-color: #56af78;
    padding: 5px;
    border-radius: 2px;
}

/* ========== Hero Section Ends ========== */

/* ========== Services ========== */

/* Override unwanted styles */
#services-carousel .swiper-container {
  margin-top: 15px;
  height: auto !important; /* Remove fixed height */
  overflow: hidden !important; /* Reset overflow */
  transform: none !important; /* Remove any transformation */
  transform-origin: center !important;  /* Reset transform-origin if needed */
  translate: none !important; /* Remove any translation */
}

.services-swiper {
  width: screen;
  overflow: hidden;
}



.text-carousel {
  width: screen;
  height: 100px;
  background-color: var(--theme-color);
  transform: rotate(-5deg);
}

.circle-icon {
  background-color: var(--blue-varient-1);
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

/* ========== END Services ========== */


/* ========== Logos Section ========== */
.logo-main {
  background-image: url('../Assests/Images/Logo-Design-Bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.logos-box {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid var(--secondary-color);
  transition: box-shadow 0.3s ease;
}

.icon-wrapper {
  position: relative;
  z-index: 1;
}

.logos-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 182, 193, 0.5) 0%, rgba(255, 192, 203, 0.5) 50%, rgba(173, 216, 230, 0.5) 100%);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logos-box img {
  transition: transform 0.3s ease;
  z-index: 1;
}

.logos-box:hover::before {
  opacity: 1;
}

.logos-box:hover img {
  transform: scale(1.05);
}

.logos-box:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.logos-box div span {
  color: black;
  display: inline-block;
  transition: color 0.3s ease, margin-top 0.3s ease, font-weight 0.3s ease;
  margin-top: 0;
  font-weight: normal;
}

.logos-box:hover div span {
  font-weight: bold;
  /* margin-top: 10px; */
}

.logo-sec-card {
  background: linear-gradient(to bottom, #110953, #5547c5);
  position: relative;
  border-radius: 10px;
  z-index: 10;
}

.logo-sec-card-image {
  position: absolute;
  top: -20px;
  right: 80px;
}

.box {
  z-index: -1;
  position: absolute;
  top: 60%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}

.box img {
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.spiral {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.spiral img {
  max-width: 100%;
  height: auto;
}

.abstract {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
}

.Concentric-circle {
  position: absolute;
  bottom: -60px;
  left: 50px;
  z-index: -1 !important;
}

.loader-container {
  position: absolute;
  bottom: -50px;
  right: 0;
  z-index: -1;
}

/* ========== END Logos Section ========== */

/* ========== Experience Section  ========== */
.experience-section {
  background-image: url('../Assests/Images/Experience-Banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.experience-section img {
  height: 100%;
  max-height: 400px;
  width: auto;
  object-fit: cover;
}

.chat-text {
  margin-top: -10px;
}

/* ========== END Experience Section  ========== */

/* ========== Industries Section ========== */
.industries-section {
  background-image: url('../Assests/Images/Experience-Banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: screen;
  min-height: 600px;
}

.industries-image{
  width: 250px;
}

.tag {
  height: 70px;
  width: 220px;
  border-radius: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.constr-tag {
  background-color: #ffd6f8;
  color: #e426c3;
}

.constr-icon {
  background-color: #e426c3;
  padding: 15px;
  border-radius: 50px;
}

.travel-tag {
  background-color: #ffe9d6;
  color: #fca65e;
}

.travel-icon {
  background-color: #fca65e;
  padding: 15px;
  border-radius: 50px;
}

.fitness-tag {
  background-color: #dbffd6;
  color: #21c945;
}

.fitness-icon {
  background-color: #21c945;
  padding: 20px 15px;
  border-radius: 50px;
}

.wed-tag {
  background-color: #fff3cf;
  color: #e6b31b;
}

.wed-icon {
  background-color: #e6b31b;
  padding: 15px;
  border-radius: 50px;
}

.beauty-tag {
  background-color: #adc3fe;
  color: #2e5de1;
}

.beauty-icon {
  background-color: #2e5de1;
  padding: 15px;
  border-radius: 50px;
}

.law-tag {
  background-color: #fec5c5;
  color: #ee3333;
}

.law-icon {
  background-color: #ee3333;
  padding: 15px;
  border-radius: 50px;
}

.salon-tag {
  background-color: #ccfdfc;
  color: #41d2d0;
}

.salon-icon {
  background-color: #41d2d0;
  padding: 15px;
  border-radius: 50px;
}

.spa-tag {
  background-color: #eabfff;
  color: #9d22db;
}

.spa-icon {
  background-color: #9d22db;
  padding: 15px;
  border-radius: 50px;
}

.interior-tag {
  background-color: #ffabd1;
  color: #e90e70;
}

.interior-icon {
  background-color: #e90e70;
  padding: 15px;
  border-radius: 50px;
}

.dental-tag {
  background-color: #c6ffd6;
  color: #34c85e;
}

.dental-icon {
  background-color: #34c85e;
  padding: 15px;
  border-radius: 50px;
}




#industries-carousel-1 .swiper-container {
  height: auto !important; /* Remove fixed height */
  overflow: hidden !important; /* Reset overflow */
  transform: none !important; /* Remove any transformation */
  transform-origin: center !important;  /* Reset transform-origin if needed */
  translate: none !important; /* Remove any translation */
}




/* Override unwanted styles */
#industries-carousel-2 .swiper-container {
  margin-top: 15px;
  height: auto !important; /* Remove fixed height */
  overflow: hidden !important; /* Reset overflow */
  transform: none !important; /* Remove any transformation */
  transform-origin: center !important;  /* Reset transform-origin if needed */
  translate: none !important; /* Remove any translation */
}





/* ========== END Industries Section ========== */

/* ========== Combo Section ========== */
.combo-section {
  background-image: url('../Assests/Images/Combo-Plan-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  height: auto;
  position: relative;
}

.mockup-image img {
  position: absolute;
  bottom: -200px;
  right: 50px;
  height: 90%;
}

/* ========== END Combo Section ========== */



/* .testimonial{
    background-image: url('../Assests/Images/testimonial_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    width: 100%;
} */

.owl-carousel .owl-stage-outer {
    height: auto !important;  /* Allow the height to be dynamic */
}

.owl-carousel .owl-item {
    height: auto !important;  /* Ensure individual items don't force a specific height */
}

.owl-carousel .owl-item img {
    /* Reset or override unwanted styles here */
    width: auto !important;
    height: auto !important;
    /* Other styles to override */
}


#websites-carousel {
  padding: 0;
  margin: 0;
}

#websites-carousel .owl-carousel .owl-item img {
  width: auto !important;   /* Reset width */
  height: auto !important;  /* Reset height */
  object-fit: cover !important;  /* Optional: Fit the image properly */
  max-width: none !important;    /* Ensure the image isn't constrained */
  max-height: none !important;   /* Ensure the height isn't constrained */
}



.custom-nav {
  position: absolute;
  bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    /* margin-top: 20px; */
}

.custom-nav img {
    cursor: pointer;
    width: 40px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px; /* Space between icons and dots */
}

.dots span {
    width: 15px; /* Increase dot size */
    height: 15px; /* Increase dot size */
    background-color: red !important; /* Use a bright color for testing */
    border-radius: 50%; /* Make dots circular */
    margin: 0 5px; /* Space between dots */
    cursor: pointer; /* Change cursor on hover */
}


.dots .active {
    background-color: blue; /* Color for active dot */
}

#testimonial-carousel{
  position: relative;
  min-height: 500px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


.testimonial-container {
    position: relative; /* Ensures the profile image can overlap */
    background-color: #fff; /* Background color for the card */
    border: 2px solid #e0e0e0; /* Light gray border */
    border-radius: 20px; /* Smooth rounded corners */
    padding: 20px;
    /* max-width: 600px; */
    margin: 0 auto; /* Center the container */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Optional shadow */
   
  
}

/* 
.testimonial-owl-item{
  display: flex !important;
    justify-content: center !important;
    width: 643px !important;
    margin-right: 10px !important;
    align-items: center !important;
    min-height: 420px !important;
} */

.profile-image {
    position: absolute !important; /* Absolute positioning to overlap the container */
    top: -80px !important; /* Position it slightly outside the container */
    right: 30px; /* Adjust distance from right */
    border-radius: 50%; /* Make the image circular */
    border: 4px solid white; /* White border around the image */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Optional shadow for the image */
    object-fit: cover; /* Ensures the image stays within the circle */
}

/* ========== Our Work Section ========== */
.our-work-image {
  width: 100%;
}
.our-work-text{
  position: relative;
  left:50px;
}
.our-work-main {
  position: relative;
}

.column-margin{
  margin-top: 180px !important;
}

.concentric-square-container {
  position: absolute;
  top: -50px;
  right: 50px;
  z-index: -10;
}

.arrow-3 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
  pointer-events: none;
}

/* ========== END Our Work Section ========== */


/* ========== Accordion Styles ========== */
.accordion-item {
  margin-bottom: 15px;
}

.accordion-item {
  border: none !important;
}

.accordion-button::after {
  background-image: url('../Assets/Icons/Accordion-Arrow.png') !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(90deg) !important;
}

.accordion-item > .accordion-header .accordion-button {
  background-color: #fafcff !important;
  border: 1px solid #f0f0f0 !important;
  border-radius: 42px !important;
}

.accordion-item > .accordion-collapse {
  background-color: #fafcff !important;
  border: 1px solid #f0f0f0 !important;
  border-radius: 42px !important;
}

/* ========== END Accordion Styles ========== */

/* ========== Web Design Section ========== */
.website-Design-Section {
  position: relative;
  padding-top: 200px;
}

.concentric-square {
  position: absolute;
  top: -50px;
  right: 50px;
  z-index: -10;
}

.arrow-2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
  pointer-events: none;
}

.image-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.hover-image {
  transition: transform 0.3s ease;
}

.image-container:hover .hover-image {
  transform: scale(1.1);
}

.overlay {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(143, 10, 143, 0.8), rgba(128, 0, 128, 0));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.offers-bg {
  background-image: url('../Assests/Images/Web-Design-Bg.png');
  background-position: center center;
  background-size: cover;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.Concentric-circle-2-container {
  position: absolute;
  top: 10%;
  left: -150px;
}

.threeD-square {
  position: absolute;
  right: 20%;
  top: 10%;
}

/* ========== END Web Design Section ========== */



/* ========== Offers Cards Section ========== */
.offers-cards-section {
  background: linear-gradient(to top, #e8eaec 0%, #eaecee 5%, white 50%, white 100%);
  min-height: 100vh;
}

.customer-satisfaction-box {
  padding: 1.5rem;
  border: 3px dashed transparent;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: border-color 0.3s ease-in-out;
}

.customer-satisfaction-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #DE6262; 
  background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  
  background: linear-gradient(to right, #FFB88C, #DE6262); 
  opacity: 0;
  z-index: 0;
  transition: opacity 0.3s ease;
}

.customer-satisfaction-box:hover::before {
  opacity: 1; 
}

.customer-satisfaction-box:hover {
  border-color: var(--theme-color); 
}

.customer-satisfaction-box img {
  transition: transform 0.3s ease;
  z-index: 1; 
}

.customer-satisfaction-box:hover img {
  transform: scale(1.1); 
}

.customer-satisfaction-box h3,
.customer-satisfaction-box span {
  z-index: 1; 
  color: inherit; 
  transition: transform 0.3s ease, color 0.3s ease; 
}

.customer-satisfaction-box:hover h3,
.customer-satisfaction-box:hover span {
  position: relative;
  transform: translateY(-5px); 
  color: white !important; 
}

.customer-satisfaction-main {
  position: relative;
}

.triangle-container {
  position: absolute;
  top: 0;
  right: 50px;
}

/* ========== END Offers Cards Section ========== */


/* ========== Work List ========== */
.work-list {
  position: relative;
  padding-bottom: 5px; 
}

.work-list li {
  position: relative;
  padding: 10px 0; 
  cursor: pointer;
  overflow: hidden; 
}

.work-list li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; 
  height: 3px; 
  background-color: transparent; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
  transform: scaleX(0);
  transform-origin: left; 
}

.work-list li:hover::after {
  background-color: var(--theme-color);
  transform: scaleX(1);
}

.work-list li:hover {
  padding-bottom: 8px; 
}

/* ========== END Work List ========== */
/* ========== Package Card Section ========== */
.package-card {
  background-color: #edf1f8;
  border: 3px dashed var(--blue-varient-1);
  border-radius: 8px;
  position: relative;
}

.package-list {
  list-style-type: none;
  padding-left: 20px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

.package-list {
  max-height: 150px;
  max-width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.package-list li {
  position: relative;
  padding-left: 20px;
  color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.package-list li::before {
  content: '•';
  color: #6a8dc7;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: -15px;
}

.package-card-navigation {
  background-color: var(--theme-color);
  height: 100px;
  width: screen;
  position: relative;
  top: 350px;
}

.package-prev, .package-next {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.package-prev::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: url('../Assests/Icons/Nav-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%) rotate(180deg); 
  transition: opacity 0.3s ease;
}

.package-prev:hover::before {
  opacity: 0.8;
}

.package-next::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: url('../Assests/Icons/Nav-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.package-next:hover::before {
  opacity: 0.8;
}

/* ========== END Package Card Section ========== */


/* ========== Scrollbar Styling and Button Styles ========== */
.package-list::-webkit-scrollbar {
  width: 6px;
}

.package-list::-webkit-scrollbar-track {
  background: #c8daf8;
  border-radius: 10px;
}

.package-list::-webkit-scrollbar-thumb {
  background-color: #6a8dc7;
  border-radius: 10px;
  border: 1px solid lightblue;
  height: 10px;
}

.package-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-color);
}

.buy-now-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.half-circle-btn {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 70px;
  background-color: #6a8dc7;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 100px 100px 0 0;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.half-circle-btn::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 50px;
  background-color: #6a8dc7;
}

.half-circle-btn:hover {
  background-color: #5578b0; 
}

/* ========== END Scrollbar Styling and Button Styles ========== */


/* ========== Form Section Styles ========== */

.form-section{
  background-image: url('../Assests/Images/Form-Bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 600px;
}


/* ========== Form Section Styles Ends ========== */




/* ========== Animated Button and Column Styles ========== */
.animated-column {
  opacity: 0;
  transform: translateY(100px);
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background: linear-gradient(to left, #2667d2, #6a8dc7);
  border-radius: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0 2px #2667d2;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #2667d2;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr {
  right: -100%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: linear-gradient(to left, #6a8dc7, #2667d2);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: white;
  border-radius: 12px;
}

.animated-button:hover .arr {
  right: 10%;
}

.animated-button:hover .text {
  transform: translateX(-12px);
}

.animated-button:hover svg {
  fill: white;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #6a8dc7;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* ========== END Animated Button and Column Styles ========== */

  

/* ========== Tabs ========== */
.tab-content-section {
  display: none; /* Hide all tab contents */
}

.active-tab {
  display: block; /* Show only the active tab */
}

ul li.active {
  font-weight: bold;
  border-bottom: 3px solid var(--theme-color); /* Optional: highlight active tab */
}

/* ========== END Tabs ========== */

/* ========== LOGO Page Css Starts ========== */

.swiper{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.swiper-container {
  height: 500px; /* Adjust height as needed */
  overflow: hidden; /* Prevent overflow */
  transform: rotate(25deg);
  transform-origin: top; /* Set the origin of the transformation to the top */
  transform: translateY(100px) rotate(25deg); /* Translate from the top */
}



.swiper-container .swiper-slide {
  height: auto; /* Allows slides to adjust based on content */
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Adjust logo container height */
  width: 150px;
}

.logo-carousel-container img {
  max-width: 100%;
  max-height: 100%;
}

/* ========== LOGO Page Css Ends ========== */
